<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @voto.usuario_id %>
</p>

<p>
  <strong>Libro:</strong>
  <%= @voto.libro_id %>
</p>

<%= link_to 'Edit', edit_voto_path(@voto) %> |
<%= link_to 'Back', votos_path %>
