<h1>Listing se_imparte_paras</h1>

<table>
  <tr>
    <th>Clave materia</th>
    <th>Clave carrera</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @se_imparte_paras.each do |se_imparte_para| %>
  <tr>
    <td><%= se_imparte_para.clave_materia %></td>
    <td><%= se_imparte_para.clave_carrera %></td>
    <td><%= link_to 'Show', se_imparte_para %></td>
    <td><%= link_to 'Edit', edit_se_imparte_para_path(se_imparte_para) %></td>
    <td><%= link_to 'Destroy', se_imparte_para, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Se imparte para', new_se_imparte_para_path %>
