<h1>Listing reporte_links</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reporte_links.each do |reporte_link| %>
  <tr>
    <td><%= reporte_link.usuario %></td>
    <td><%= reporte_link.link %></td>
    <td><%= link_to 'Show', reporte_link %></td>
    <td><%= link_to 'Edit', edit_reporte_link_path(reporte_link) %></td>
    <td><%= link_to 'Destroy', reporte_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reporte link', new_reporte_link_path %>
