<br><br><br><br>
<% if @ranking %>
<div class="w3-row-padding">
  <div class="w3-half">
    <div class="w3-card white">
      <div class="w3-container w3-red">
	<h1>Libros</h1>
      </div>
      <ul class="w3-ul w3-border-top">
	<% i = 1 %>
	<% @ranking.each do |libro| %>
	<li>
	  <a href="#" onclick="document.getElementById('id<%= i %>').style.display='block'"><%= libro.titulo %></a>
	</li>
	<% i += 1 %>
	<% end %>	
      </ul>
    </div>
  </div>
  <% else %>
  <p>No hay libros para <%= @materium.nombre %></p>
  <% end %>
  <br>

  <% if @ranking %>
  <% i = 1 %>
  <% @ranking.each do |libro| %>
  <% libro_isbn = libro.isbndb %>
  <div id="id<%= i %>" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-red"> 
	<span onclick="document.getElementById('id<%= i %>').style.display='none'" 
	      class="w3-closebtn">×</span>
	<h2>Información</h2>
      </header>
      <div class="w3-container">
	<% if libro_isbn.title %>
        <p><strong>Título: </strong> <%= libro_isbn.title %></p>
        <% end %>
 	<% if libro_isbn.title_long %>
        <p><strong>Título largo: </strong> <%= libro_isbn.title_long %></p>
        <% end %>
 	<% if libro_isbn.authors_text %>
        <p><strong>Autor(es): </strong> <%= libro_isbn.authors_text %></p>
        <% end %>
 	<% if libro_isbn.publisher_text["__content__"] %>
        <p><strong>Editorial: </strong> <%= libro_isbn.publisher_text["__content__"] %></p>
        <% end %>
 	<% if libro_isbn.isbn13 %>
        <p><strong>ISBN: </strong> <%= libro_isbn.isbn13 %></p>
        <% end %>
 	<% if libro_isbn.isbn %>
        <p><strong>ISBN 10: </strong> <%= libro_isbn.isbn %></p>
        <% end %>
      </div>
      <!--< if current_user >-->
      <div class="w3-center">
        <button class="w3-btn w3-blue">Like</button>
      </div>
      <br>
      <!--< end >-->
      <br>
      <footer class="w3-container w3-red">
	<p>&nbsp;</p>
      </footer>
    </div>
  </div>
  <% i += 1 %>
  <% end %>
  <% end %>
  
  <%= render 'layouts/searchbox' %>
</div>
<br> <br> <br>
