<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @libro.codigo %>
</p>

<p>
  <b>Titulo:</b>
  <%= @libro.titulo %>
</p>

<p>
  <b>Autor:</b>
  <%= @libro.autor %>
</p>


<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
