<h1>Listing material_recomendados</h1>

<table>
  <tr>
    <th>Clave materia</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @material_recomendados.each do |material_recomendado| %>
  <tr>
    <td><%= material_recomendado.clave_materia %></td>
    <td><%= material_recomendado.link %></td>
    <td><%= link_to 'Show', material_recomendado %></td>
    <td><%= link_to 'Edit', edit_material_recomendado_path(material_recomendado) %></td>
    <td><%= link_to 'Destroy', material_recomendado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Material recomendado', new_material_recomendado_path %>
