<br><br><br><br><br><br>
<div class="w3-container w3-half w3-margin-top">
  <div class="w3-container w3-card-4">
    <%= form_for current_user do |f| %>
    <h2 class="w3-text-theme">¿Eres estudiante o profesor?</h2>
    <label class="w3-checkbox">
      <%= f.radio_button :tipo, 1 %>
      <span class="w3-checkmark" onclick="document.getElementById('id1').style.display='block'"></span> Estudiante 
    </label>

    <div id="id1" class="w3-modal">
      <div class="w3-modal-content">
	<header class="w3-container w3-red"> 
	  <span onclick="document.getElementById('id1').style.display='none'" 
		class="w3-closebtn">×</span>
	  <h2>Información de Estudiante</h2>
	</header>
	<div class="w3-container">
	  <div class="w3-input-group">
	    <%= f.select :carrera, @carreras, { class: "w3-select" } %>
	    <label class="w3-label">Carrera</label>
	  </div>
	  <div class="w3-input-group">      
            <%= f.number_field :generacion, { step: 1, max: @max_year, class: "w3-input" } %>
	    <label class="w3-label">Generación</label>
	  </div>
	</div>
	<div class="w3-center">
	  <%= f.submit "Listo", class: "w3-btn w3-blue" %>
	</div>
	<br>
	<footer class="w3-container w3-red">
	  <p>&nbsp;</p>
	</footer>
      </div>
    </div>
    
    <br>
    <label class="w3-checkbox">
      <%= f.radio_button :tipo, 2 %>
      <span class="w3-checkmark" onclick="document.getElementById('id02').style.display='block'"></span> Profesor
    </label>

    <div id="id02" class="w3-modal">
      <div class="w3-modal-content">
	<header class="w3-container w3-red"> 
	  <span onclick="document.getElementById('id02').style.display='none'" 
		class="w3-closebtn">×</span>
	  <h2>Información de Profesor</h2>
	</header>
	<div class="w3-container">
	  <div class="w3-input-group">
	    <%= f.text_field :nombre, class: "w3-input" %>
	    <label class="w3-label">Nombre, ¿Cómo quiere que nos dirijamos a usted?</label>
	  </div>
	  <div class="w3-input-group">
	    <%= f.select :carrera, @carreras, { class: "w3-select" } %>
	    <label class="w3-label">Carrera</label>
	  </div>
	  <div class="w3-input-group">
	    <%= f.number_field :generacion, { step: 1, max: @max_year, class: "w3-input" } %>
	    <label class="w3-label">Generación</label>
	  </div>
	</div>
	<div class="w3-center">
	  <%= f.submit "Listo", class: "w3-btn w3-blue" %>
	</div>
	<br>
	<footer class="w3-container w3-red">
	  <p>&nbsp;</p>
	</footer>
      </div>
    </div>
    
    <br><br>
    <% end %>
  </div>
</div>
