<div class="w3-topnav w3-large w3-theme">
  <%= link_to "Inicio", '#', class: "fa fa-home w3-xlarge" %>
  <%= link_to "Facultades", facultades_path %>
  <%= link_to "Carreras", carreras_path %>
  <%= link_to "Libros", libros_path %>
  <%= link_to "Iniciar Sesión", '#', class: "w3-right" %>
  <%= link_to "Cerrar Sesión", '#', class: "w3-right" %>
</div>
